
Temp/UnityLockfile
Temp/UnityTempFile-a333388602d46824ca67d1fb7797a6ca
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
.vs/Economic Simulation/v14/.suo
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/metadata/e8/e85fbc1afc980c549bd2c547ffc3e97b
Library/metadata/a7/a75e583b3967bcb4c8878ffd7ca3238f
Library/metadata/6e/6efd81f101e0e2a479188770c09f21fc
Library/metadata/45/45f52d9d866d6c646afabce6c62928a8
Library/metadata/0a/0a8973215a548b24e9cd1775471e6e66
Library/EditorInstance.json
Library/assetDatabase3
Library/CurrentLayout.dwlt
.vs/Economic Simulation/v14/.suo
.vs/Economic Simulation/v14/.suo
Temp/UnityVS_obj/Debug/build.force
Temp/UnityTempFile-8eec2b13d049f934f8da246ddf80b0ba
.vs/Economic Simulation/v14/.suo
Library/shadercompiler-UnityShaderCompiler.exe0.log
